.App {
  max-width: 1400px;
  margin: 30px auto;
}

button {
  background-color: #000;
  color: #ffe300;
  padding: 10px 20px;
  font-weight: bold;
  border: 4px solid #ccc;
  margin: auto auto;
  display: block;
  line-height: 20px;
}

button:hover{
  cursor: pointer;
}

.data {
  margin-top: 50px; 
  display: flex;
  justify-content: space-evenly;
}